.layout-breadcrumb{
  text-align:left;
  line-height:60px;
  background:#eff2f7;
  margin:16px 0;
  padding-left:15px;
}
/*roleList*/
.box{
  overflow:hidden;
  padding:20px;
}
.box .deleteBox{
  float:left;
}
.box .pageBox{
  float:right;
}
/*chart*/
.h2-title{
	margin-bottom:15px;
}